/* REGLA UNIVERSAL */
* {margin: 0; padding: 0;}

/* REGLAS PARA CLASES */
.cards {display: flex; flex-direction: column;justify-content: flex-start; gap: 12px; margin-top: 60px; margin-left: 10px; margin-right: 10px; margin-bottom: 60px; border: 1px solid #837f7f; background-color: #0d0d0d; padding: 20px; border-width: 2px; height: 700px;} /* El justify-content: flex-start - Ubica los hijos en el eje principal, en este caso en lo más alto de la columna porque se estableció flex direction column */

.titulo-seccion-contenedor {width: 100%;}

.Galeriafotos {display: flex; flex-wrap: nowrap; gap: 12px; align-items: center;} /* Allign-items: center en este caso alinea verticalmente card e imagen de la galería aunque tengan distinta altura */

.contenedorfoto {flex: 1 1 0; min-width: 0;}

.card {border: 1px solid #dbd9d9; border-radius: 8px; height: 300px; border-width: 2px; background-size: cover;}

.nombre-receta {color: #ffffff; text-align: center; font-family: 'Lilita One', 'Times New Roman', Times, serif; font-size: 20px; margin-top: 10px;}

.titulo-seccion {color: #ffffff; text-align: center; font-family: 'Salsa', 'Times New Roman', Times, serif; font-size: 28px; margin-top: 0;}

/* REGLAS PARA ID */
#pesto {background-image: url('ImagenesRecetas/fideosconpesto.jpg');}
#pollocurry {background-image: url('ImagenesRecetas/polloalcurry.jpg');}
#ensaladaatunypalta {background-image: url('ImagenesRecetas/atunypaltasalad.jpg');}
#ClubSandwich {background-image: url('ImagenesRecetas/Clubsandwich.jpg');}